<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Страница администратора</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <input type="hidden" th:value="${result}" id="result"/>
        <p>Страница администратор: <span th:text="${login}"></span></p>
        <form method="get" action="/showrequests">
                <input type="hidden" th:value="${login}" name="login"/>
                <button type="submit">Обновить</button>
        </form>
        <div class="container">
            <div class="table-responsive">
                <h1>Статистика запросов</h1>
                <br />
                
                <table class="table table-bordered table-striped" id="stats">
                    <tr>
                        <th>Время запроса</th>
                        <th>Пользователь</th>
                        <th>ip-адрес</th>
                        <th>URI</th>
                        <th>Параметры</th>
                        <th>Результат</th>
                        <th>Размер результата, байт</th>
                    </tr>
                </table>
            </div>
        </div>
        
        <script>
            $(document).ready(function(){
                var data = $("#result").val();
                var object = JSON.parse(data);
                    $.each(object, function(key, value){
                        var line = '';
                        line += '<tr>';
                        line += '<td>'+value.time+'</td>';
                        line += '<td>'+value.login+'</td>';
                        line += '<td>'+value.ip+'</td>';
                        line += '<td>'+value.uri+'</td>';
                        line += '<td>'+value.params+'</td>';
                        line += '<td>'+value.state+'</td>';
                        line += '<td>'+value.size+'</td>';
                        line += '</tr>';
                        $('#stats').append(line);
                    });
            }).fail(function(xx,yy,zz){
                alert(xx+"//"+yy+"//"+zz);
            });    
        </script>
        
    </body>
</html>
