<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Страница администратора</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <input type="hidden" th:value="${result}" id="result"/>
        <p>Страница администратор: <span th:text="${login}"></span></p>
        <form method="get" action="/showrequests" id="history">
                <input type="hidden" th:value="${
            T(org.springframework.security.core.context.SecurityContextHolder)
            .context.authentication.principal.username}" name="login"/>
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <button type="submit">История запросов</button>
                <b>Начало периода:</b><input type="date" name="dateStart" form="history"/>
                <b>Конец периода:</b><input type="date" name="dateFinish" form="history"/>
        </form>
        <form method="get" action="/showusers">
                <input type="hidden" th:value="${
            T(org.springframework.security.core.context.SecurityContextHolder)
            .context.authentication.principal.username}" name="login"/>
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <button type="submit">Учетные записи</button>
        </form>
        <div class="container">
            <div class="table-responsive">
                <h1>Список пользователей</h1>
                <br />
                    <table class="table table-bordered table-striped" id="stats">
                        <tr>
                            <th>Логин</th>
                            <th>E-mail</th>
                            <th>Статус</th>
                            <th>Роль</th>
                        </tr>
                    </table>
            </div>
        </div>
        
        <script>
            $(document).ready(function(){
                var data = $("#result").val();
                var object = JSON.parse(data);
                    $.each(object, function(key, value){
                        //var lineform = '<form method="get" th:action="@{/administrate}" enctype="utf8" id="adminform_'+value.username+'"/>';
                        //$('#forform').append(lineform);
                        var line = '';
                        line += '<tr>';
                        line += '<td>'+value.username+'</td>';
                        line += '<td>'+value.email+'</td>';
                        line += '<td>'+value.enabled+'</td>';
                        line += '<td><form method="get" action="/administrate">'+
                                '<select size="1" id="rolestate_'+value.username+'" name="updaterole">'+ 
                                '<option value="USER">USER</option>'+
                                '<option value="ADMIN">ADMIN</option></select>'+
                                '<input type="hidden" name="updateuser" value="'+value.username+'"/>'+
                                '<input type="hidden" th:value="${'+
                                'T(org.springframework.security.core.context.SecurityContextHolder)'+
                                '.context.authentication.principal.username}" name="login"/>'+
                                '<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>'+
                                '<button type="submit">Изменить</button>'+
                                '</form></td>';
                        line += '</tr>';
                        $('#stats').append(line);
                        $("#rolestate_"+value.username).val(value.role).change();
                    });
            }).fail(function(xx,yy,zz){
                alert(xx+"//"+yy+"//"+zz);
            });    
        </script>
        
    </body>
</html>
