<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>График погашения</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <input type="hidden" th:value="${result}" id="result"/>
        <div class="container">
            <div class="table-responsive">
                <h1>Вводные данные</h1>
                <br />
                
                <table class="table table-bordered table-striped" id="basics">
                    <tr>
                        <th>Сумма кредита</th>
                        <th>%</th>
                        <th>Первый платеж</th>
                        <th>Тип платежа</th>
                        <th>Срок</th>
                        <th>Дата первого платежа</th>
                    </tr>
                </table>
                <br />
                <h1>График погашения</h1>
                <br />
                
                <table class="table table-bordered table-striped" id="shedule">
                    <tr>
                        <th>Дата платежа</th>
                        <th>Сумма платежа</th>
                        <th>Процентная часть</th>
                        <th>Основной долг</th>
                        <th>Остаток долга</th>
                    </tr>
                </table>
            </div>
            
            <form method="get" action="/onceagain">
                <input type="hidden" th:value="${login}" name="login"/>
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <button type="submit">Новый расчет</button>
            </form>
            
        </div>
        
        
        <script>
            $(document).ready(function(){
                var data = $("#result").val();
                var object = JSON.parse(data);
                var basic_data = '';
                    basic_data += '<tr>';
                    basic_data += '<td>'+object.loan+'</td>';
                    basic_data += '<td>'+object.rate+'</td>';
                        if(object.firstpay==0){
                    basic_data += '<td>'+"Стандартный"+'</td>';        
                        }else{
                    basic_data += '<td>'+object.firstpay+'</td>';
                        }
                        if(object.annuity=="true"){
                    basic_data += '<td>'+"Аннуитетный"+'</td>';
                        }else{
                    basic_data += '<td>'+"Дифференцированный"+'</td>';
                        }
                    basic_data += '<td>'+object.term+'</td>';
                    basic_data += '<td>'+object.firstpaydate+'</td>';
                    basic_data += '</tr>';
                    $('#basics').append(basic_data);
               
                var shedule_object = object.shedule;
                
                    $.each(shedule_object, function(key, value){
                        var shedule_data = '';
                        shedule_data += '<tr>';
                        shedule_data += '<td>'+value.date+'</td>';
                        shedule_data += '<td>'+value.summ_pay+'</td>';
                        shedule_data += '<td>'+value.percent_pay+'</td>';
                        shedule_data += '<td>'+value.basic_pay+'</td>';
                        shedule_data += '<td>'+value.rest+'</td>';
                        shedule_data += '</tr>';
                        $('#shedule').append(shedule_data);
                    });
                
                var shedule_totals = object.totals;
                var total_values = '';
                total_values += '<tr>';
                total_values += '<td><b>Итого</b></td>';
                total_values += '<td><b>'+shedule_totals.total_payments+'</b></td>';
                total_values += '<td><b>'+shedule_totals.total_percents+'</b></td>';
                total_values += '<td><b>'+shedule_totals.total_basics+'</b></td>';
                total_values += '<td/></tr>';
                $('#shedule').append(total_values);
            });    
        </script>
        
        
    </body>
</html>

